In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("CardioVascular.csv")
df.head()

,sbp(mm Hg),ldl(mmol/L),adiposity,tobacco(in Kg),alcohol,typea,age,FamHist,CHD
0,160,5.73,23.11,12.00,97.20,49,52,1,Present
1,144,4.41,28.61,0.01,2.06,55,63,0,Present
2,118,3.48,32.28,0.08,3.81,52,46,1,Absent
3,170,6.41,38.03,7.50,24.26,51,58,1,Present
4,134,3.50,27.78,13.60,57.34,60,49,1,Present

In [5]:
col=df.columns.to_list()
col

['sbp(mm Hg)',
 'ldl(mmol/L)',
 'adiposity',
 'tobacco(in Kg)',
 'alcohol',
 'typea',
 'age',
 'FamHist',
 'CHD']

In [6]:
sbp = [df['sbp(mm Hg)'].to_list()]
ldl = [df['ldl(mmol/L)'].to_list()]
adip = [df['adiposity'].to_list()]
tob = [df['tobacco(in Kg)'].to_list()]
alc = [df['alcohol'].to_list()]
typa = [df['typea'].to_list()]
age = [df['age'].to_list()]
fh = [df['FamHist'].to_list()]
hd = [df['CHD'].to_list()]
sbp

[[160,
  144,
  118,
  170,
  134,
  132,
  142,
  114,
  114,
  132,
  206,
  134,
  118,
  132,
  112,
  117,
  120,
  146,
  158,
  124,
  106,
  132,
  150,
  138,
  142,
  124,
  118,
  145,
  144,
  146,
  136,
  158,
  122,
  126,
  148,
  122,
  140,
  110,
  130,
  136,
  118,
  144,
  120,
  130,
  114,
  128,
  162,
  116,
  114,
  126,
  122,
  134,
  152,
  134,
  156,
  152,
  118,
  126,
  103,
  121,
  142,
  138,
  152,
  140,
  130,
  136,
  124,
  112,
  118,
  122,
  118,
  130,
  130,
  126,
  128,
  136,
  134,
  140,
  168,
  108,
  114,
  140,
  148,
  148,
  128,
  130,
  126,
  140,
  126,
  122,
  116,
  120,
  143,
  118,
  194,
  134,
  138,
  136,
  122,
  164,
  136,
  166,
  118,
  128,
  118,
  158,
  108,
  170,
  118,
  124,
  114,
  168,
  134,
  174,
  116,
  128,
  140,
  154,
  150,
  130,
  128,
  120,
  120,
  138,
  153,
  123,
  148,
  136,
  134,
  152,
  158,
  132,
  134,
  142,
  134,
  122,
  116,
  128,
  120,
  124,
  160,
  130,
  128,
  130,
  109,
  144,
  118,
  136,
  136,
  124,
  148,
  128,
  122,
  108,
  124,
  138,
  127,
  174,
  122,
  144,
  126,
  208,
  138,
  148,
  122,
  132,
  110,
  160,
  126,
  162,
  194,
  118,
  124,
  160,
  128,
  122,
  132,
  120,
  128,
  108,
  166,
  152,
  170,
  156,
  116,
  122,
  150,
  129,
  134,
  126,
  142,
  128,
  102,
  130,
  138,
  138,
  128,
  162,
  160,
  148,
  124,
  136,
  134,
  128,
  122,
  152,
  162,
  124,
  136,
  136,
  134,
  122,
  116,
  132,
  134,
  160,
  180,
  124,
  114,
  208,
  138,
  164,
  144,
  136,
  132,
  143,
  112,
  134,
  138,
  188,
  110,
  136,
  130,
  122,
  138,
  130,
  126,
  176,
  122,
  124,
  140,
  128,
  190,
  144,
  126,
  128,
  136,
  158,
  160,
  124,
  158,
  128,
  166,
  146,
  161,
  164,
  146,
  142,
  138,
  154,
  118,
  124,
  124,
  136,
  132,
  118,
  118,
  134,
  114,
  136,
  130,
  136,
  136,
  154,
  108,
  136,
  174,
  124,
  114,
  118,
  106,
  146,
  206,
  134,
  148,
  126,
  134,
  134,
  123,
  112,
  112,
  101,
  150,
  170,
  134,
  142,
  132,
  136,
  132,
  166,
  138,
  138,
  170,
  128,
  136,
  128,
  150,
  132,
  142,
  130,
  174,
  114,
  162,
  174,
  190,
  154,
  124,
  114,
  168,
  142,
  154,
  146,
  166,
  140,
  136,
  156,
  132,
  128,
  106,
  144,
  154,
  126,
  134,
  152,
  146,
  162,
  130,
  138,
  148,
  124,
  118,
  116,
  162,
  138,
  137,
  198,
  154,
  128,
  130,
  162,
  120,
  136,
  176,
  134,
  122,
  134,
  134,
  136,
  132,
  152,
  132,
  124,
  140,
  166,
  156,
  132,
  150,
  134,
  126,
  148,
  148,
  132,
  128,
  128,
  140,
  126,
  114,
  118,
  126,
  154,
  112,
  140,
  140,
  128,
  126,
  160,
  144,
  148,
  146,
  164,
  130,
  154,
  178,
  180,
  134,
  142,
  162,
  218,
  126,
  126,
  134,
  132,
  178,
  208,
  160,
  116,
  180,
  200,
  112,
  120,
  178,
  166,
  164,
  216,
  146,
  134,
  158,
  176,
  132,
  126,
  120,
  174,
  150,
  176,
  142,
  132,
  142,
  146,
  132,
  120,
  118,
  108,
  136,
  120,
  132,
  136,
  138,
  138,
  130,
  130,
  110,
  120,
  166,
  134,
  142,
  136,
  142,
  130,
  124,
  144,
  136,
  120,
  154,
  124,
  146,
  128,
  170,
  214,
  182,
  108,
  118,
  132]]

In [7]:
dic = {
    col[0]: sbp,
    col[1]: ldl,
    col[2]: adip,
    col[3]: tob,
    col[4]: alc,
    col[5] : typa,
    col[6] : age,
    col[7] : fh,
    col[8] : hd
}

In [8]:
df = pd.DataFrame(dic)
df

,sbp(mm Hg),ldl(mmol/L),adiposity,tobacco(in Kg),alcohol,typea,age,FamHist,CHD
0,"[160, 144, 118, 170, 134, 132, 142, 114, 114, ...","[5.73, 4.41, 3.48, 6.41, 3.5, 6.47, 3.38, 4.59...","[23.11, 28.61, 32.28, 38.03, 27.78, 36.21, 16....","[12.0, 0.01, 0.08, 7.5, 13.6, 6.2, 4.05, 4.08,...","[97.2, 2.06, 3.81, 24.26, 57.34, 14.14, 2.62, ...","[49, 55, 52, 51, 60, 62, 59, 62, 49, 69, 72, 6...","[52, 63, 46, 58, 49, 45, 38, 58, 29, 53, 60, 4...","[1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, ...","[Present, Present, Absent, Present, Present, A..."

In [11]:
df.to_excel("Cardio.xlsx")